@model NoteManager.Models.Note

<article class="note">
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <hr />
    <div class="note-content">
        @Html.Raw(Model.Content)
    </div>
    <p class="meta">Created By @Html.DisplayFor(model => model.Creator.FullName)</p>
    <p class="meta">Published <time>@Html.DisplayFor(model => model.PublishDateUtc)</time></p>
    @if (Model.PublishDateUtc != Model.LastEditedDateUtc)
    {
    <p class="meta">Last Updated <time>@Html.DisplayFor(model => model.LastEditedDateUtc)</time></p>
    }
</article>