@model DeveloperNotes.Models.Revision

@{
    ViewData["Title"] = "Restore Revision #" + Model.RevisionNumber;
}

<div class="header">
    <div class="container">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="well float-container">
        <div class="float-left">
            <h6>Are you sure?</h6>
        </div>

        <div class="float-right">
            <form asp-controller="Notes" asp-action="Restore" asp-route-noteId="@Model.NoteId" asp-route-revisionNumber="@Model.RevisionNumber">
                <input type="submit" value="Confirm Restore" class="btn btn-primary" />
                <a asp-controller="Notes" asp-action="Revision" asp-route-noteId="@Model.NoteId" asp-route-revisionNumber="@Model.RevisionNumber" class="btn btn-default">Back to Revision</a>
            </form>
        </div>
    </div>

    @Html.DisplayForModel(Model)
</div>