@model DeveloperNotes.Models.Revision

@{
    ViewData["Title"] = "Restore Revision #" + Model.RevisionNumber;
}

<h2></h2>
<h3>Are you sure you want to restore the note to the following revision?</h3>
<hr />

<p>
    <b>Note:</b> @Html.DisplayFor(model => model.Title)<br />
    <b>Revision:</b> @Html.DisplayFor(model => model.Description)
</p>

<div class="text-right">
    <form asp-action="Restore" asp-route-noteId="@Model.NoteId" asp-route-revisionNumber="@Model.RevisionNumber">
        <input type="submit" value="Restore" class="btn btn-default" />
        <a asp-action="Revision" asp-route-noteId="@Model.NoteId" asp-route-revisionNumber="@Model.RevisionNumber" class="btn btn-default">Back to Revision</a>
    </form>
</div>
