@model DeveloperNotes.Models.Revision

@{
    ViewData["Title"] = "Revision ";
}

<h2>Revision #@Html.DisplayFor(model => model.RevisionNumber)</h2>
<hr />
<div style="float: right;">
    <a asp-action="Restore" asp-route-noteId="@Model.NoteId" asp-route-revisionNumber="@Model.RevisionNumber" class="btn btn-default">Restore</a>
    <a asp-action="Revisions" asp-route-id="@Model.NoteId" class="btn btn-default">Back to Revisions</a>
</div>
<h3>@Html.DisplayFor(model => model.Title)</h3>
<div>
    <p>
        @Html.DisplayFor(model => model.Content)
    </p>
    <p>
        Updated By @Html.DisplayFor(model => model.Creator.FullName) On @Html.DisplayFor(model => model.PublishDateUtc)
    </p>
</div>
